/* App.css */
body {
  background-color: #f0f8ff; 
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Add some horizontal padding */
  box-sizing: border-box; /* Include padding in the total height */
}

.App {
  background-color: #ffffff; /* White background for the form */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 30px;
  max-width: 400px; /* Max width for form */
  width: 100%; /* Full width on smaller screens */
  text-align: center; /* Center text */
}

h1 {
  color: #4a90e2; /* Header color */
  margin-bottom: 20px;
  font-size: 1.5rem; /* Smaller font size */
}
h2{
  font-size: 1rem;
  font-weight: 400;
}

/* Adjust h1 font size for smaller screens */
@media (max-width: 480px) {
  h1 {
 /* Smaller font size on mobile */
  }
}

input {
  width: 100%; /* Full width inputs */
  padding: 10px;
  margin: 10px 0; /* Spacing between inputs */
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px; /* Rounded corners */
  background-color: #ffffff; /* White background */
  color: #000; /* Black text */
  transition: border-color 0.3s; /* Smooth transition */
}

input:focus {
  border-color: #4a90e2; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

button {
  background-color: #4a90e2;; /* White background */
  color: #4a90e2;; /* Black text */
  border: 1px solid #4a90e2; /* Border color */
  padding: 10px 15px; /* Button padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */

  font-size: 16px; /* Font size */
  width: 100%; /* Full width button */
}

button:hover {
  background-color: #4a90e2; /* Change background on hover */
  color: #ffffff; /* Change text color on hover */
  border-color: #4a90e2; /* Keep border color on hover */
}

p {
  margin-top: 20px; /* Spacing above recommendation text */
  color: #333; /* Text color */
 
}


/* Styla inmatningsfälten */
input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc; /* Ljus grå kant */
  border-radius: 4px; /* Rundade hörn */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Skugga för djup */
  font-size: 16px; /* Större textstorlek */
}

/* Stil för knappen */
button {
  background-color: #007BFF; /* Blå bakgrund */
  color: white; /* Vit text */
  padding: 10px; /* Inre padding */
  border: none; /* Ingen kant */
  border-radius: 4px; /* Rundade hörn */
  cursor: pointer; /* Handpekare vid hover */
  font-size: 16px; /* Större textstorlek */
  transition: background-color 0.3s; /* Mjuk övergång för hover */
}

/* Hover-effekt för knappen */
button:hover {
  background-color: #0056b3; /* Mörkare blå vid hover */
}

/* Responsiv styling */
@media (max-width: 600px) {
  input, select, button {
      font-size: 14px; /* Mindre textstorlek på mindre skärmar */
  }
}